body {
  background-color:midnightblue;
  display:block;
  justify-content:center;
}
.nav {
  display: flex;
  justify-content: space-between; 
  padding:2rem;

}
.home {
  color:white;
  background-color: white;
  font-size: 30px;
  text-decoration: none;
}
.search {
  color: white;
  background-color: white;
  font-size: 30px;
  text-decoration: none;
}
.newMovie {
  color:white;
  background-color: white;
  font-size: 30px;
  text-decoration: none;
}

.info {
  justify-content: center;
  text-align: center;
  color: blue;
  font-size: 60px;
  border-style: double;
  background-color: antiquewhite;
  width:600px;
  height:35px;
  line-height: 35px;
  border-radius: 4rem;
  margin:auto;
  vertical-align: middle;
  align-items: center;
}
.info {
  text-align: center;
  padding: 4rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  max-width: 100%;
}

h2 {
  text-align: center;
  padding-right:3rem;
  color:white;
  margin: 1rem;
  transition: transform 1s ease-in-out; /* Add transition for smooth animation */
  transform: rotateY(0deg);
  font-size: small;
}

.poster {
  height: 250;
  width: 200px;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  transition: transform 1s ease-in-out;
  border-radius: 2rem;
  }

.overviewWrap {
  border: 2px solid black;
  height: 350px;
  width: 250px;
  transition: transform 1s ease-in-out;
  transform: rotateY(180deg); /* Initially hide the overview */
  backface-visibility: transparent ; 
  transform-style: preserve-3d;
  background-color: black;
  border-radius: 2rem;
}
.overview {
  width: 240px;
  max-height: 250px;
  transform: rotateY(180deg);
  overflow: scroll;
  scrollbar-width:thin;
  scrollbar-color: black;
  overflow-x:hidden;
  text-overflow:clip;
  scrollbar-arrow-color: none;
  scrollbar-base-color: none;
  color: aliceblue;
}
.poster:hover + h2 {
    transform: rotateY(180deg); /* Spin out the poster image on hover */
  }
  .poster:hover + .overviewWrap  {
    transform: rotateY(0deg); /* Spin in the overview on hover */
  }
  .flipTitle {
    transform:rotateY(180deg);
    color:white;
  }
