body {
  background-color:midnightblue;
  display:block;
  justify-content:center;
}
.nav {
  display: flex;
  justify-content: space-between; 
  padding:2rem;

}
.home {
  color:white;
  background-color: white;
  font-size: 30px;
  text-decoration: none;
}
.search {
  color: white;
  background-color: white;
  font-size: 30px;
  text-decoration: none;
}

