.nav {
    color: white; 
    background-color: rgb(248, 246, 244);
    display:flex;
    justify-content: space-between;
    padding: 0.1rem;
    margin:0 0 1rem 0;
}
.nav a {
    text-decoration: none; /* Remove default underline from links */
  }
p {
    font-size: 40px;
    text-decoration: none;
    color: rgb(24, 128, 203);
    font-weight: bold;
}
p:hover {
    color:rgb(230, 80, 155);
}


  
  
  