.nav {
    color: white; 
    background-color: antiquewhite;
    display:flex;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 2rem;
}
.nav a {
    text-decoration: none; /* Remove default underline from links */
  }
p {
    font-size: 40px;
    text-decoration: none;
    color: blue;
}
p:hover {
    color:rgb(230, 80, 155);
}


  
  
  