@font-face {
  font-family: 'League Gothic';
  src: url('../../../public/fonts/LeagueGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



.info {
    justify-content: center;
    text-align: center;
    color: rgb(249, 249, 250);
    font-size: 6rem;
    font-family: 'League Gothic', sans-serif;
    border-style: single;
    background-color: transparent;
    width:1500px;
    height:35px;
    line-height: 35px;
    border-radius: 4rem;
    margin:auto;
    margin-top:4rem;
    vertical-align: middle;
    align-items: center;
    padding: 4rem;
    color: rgb(180,59,60);
    }
  